
*.spec
*.toc
*.pyc
*.zip
*.manifest
*.pkg
*.pyz
*.exe
*.jsonbak
*.pyo
*.rec

dist/
build/
.vscode/
data/

overlay.html
stats.html
data.json

COH_Opponent_Bot.log
TODO.txt
test.py
test2.py
COH_Opponent_Bot_Test.log
