
*.spec
*.toc
*.pyc
*.zip
*.manifest
*.pkg
*.pyz
*.exe
*.jsonbak
*.pyo
*.rec

dist/
build/
.vscode/
data/

overlay.html
stats.html
data.json

COH_Opponent_Bot.log
TODO.txt
test.py
test2.py
test3.py
COH_Opponent_Bot_Test.log
bytes.dat

styles/gazz.woff2
overlay_style_custom_statement.css
styles/overlay_style_custom.css
styles/overlay_style.css
