/* This file is used to style the overlay for the COH Opponent Bot */
/* It is provided to give an alternative style to the default overlay */
/* Feel free to modify it to suit your needs */

body {
    position: relative;
    background-color: transparent;
    padding: 0pt;

  }

html {
    position: relative;
    padding: 0pt;
}

.container{width:100%;
    position: relative;
    top: 0pt;
    font-size: 20pt;
    color: transparent;
}

.countryflagimg{
    position: relative;
    display: inline;
    height: 16pt;
    top: 0pt;
}

.countryflagimg img{
    position: relative;
    display: inline;
    height:16pt;
    top: -3pt;

}



.factionflagimg{
    position: relative;
    display: inline;
    height: 16pt;
    top: 0pt;
}

.factionflagimg img{
    position: relative;
    display: inline;
    width: 50px;
    top: 3pt;
    
}

.rankimg {
    position: relative;
    top: 10pt;
    height: 30pt;
    display: inline;
}

.rankimg img{
    position: relative;
    height: 24pt;
    display: inline;
    top: -8pt;
}

.textVariables {
    position: relative;
    display: inline;
}

.name {
    position: relative;
    display: inline;
    top: 0pt;
}

.faction {
    position: relative;
    display: inline;
    top: 0pt;
}

.matchtype {
    position: relative;
    display: inline;
    top: 0pt;
}

.country {
    position: relative;
    display: inline;
    top: 0pt;
}

.totalwins {
    position: relative;
    display: inline;
    top: 0pt;
}

.totallosses {
    position: relative;
    display: inline;
    top: 0pt;
}

.totalwlratio {
    position: relative;
    display: inline;
    top: 0pt;
}

.wins {
    position: relative;
    display: inline;
    top: 0pt;
}

.losses {
    position: relative;
    display: inline;
    top: 0pt;
}

.disputes {
    position: relative;
    display: inline;
    top: 0pt;
}

.streak {
    position: relative;
    display: inline;
    top: 0pt;
}

.drops {
    position: relative;
    display: inline;
    top: 0pt;
}

.rank {
    position: relative;
    display: inline;
    top: 0pt;
}

.level {
    position: relative;
    display: inline;
    top: 0pt;
}

.wlratio {
    position: relative;
    display: inline;
    top: 0pt;
}

.nonVariableText{
    position: relative;
    display: inline;
}

.steamprofile{
    position: relative;
    display: inline;
    top: 0pt;
}

.cohstatslink{
position: relative;
display: inline;
top: 0pt;
}

.steamid {
    position: relative;
    display: inline;
    top: 0pt;
}

.opponentTeam {

      position : relative;
      display: inline;
      background-color: rgba(0, 0, 0, 0.25);
      color: white;
      float: right;
      overflow: hidden;
      text-align: right;
      padding-bottom: 0pt;
      padding: auto;
      }

.opponentTeam .name{

color: white;

}

.playerTeam {

      position: relative;
      display: inline;
      background-color: rgba(0, 0, 0, 0.25);
      color: white;
      float:left;
      text-align: left;
      padding: auto;
      overflow: hidden;

  }

  .playerTeam .name{

    color: white;

}

.playerStats {

      position: relative;
      top: 2pt;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding-bottom: 0pt;

  }

/* Factions */

.US{}
.WM{}
.PE{}
.CW{}

/* Match types */

.CUSTOM{}
.ONES{}
.TWOS{}
.THREES{}
.FOURS{} 
.TEAM_2v2{}
.TEAM_3V3 {}
.TEAM_4V4 {}
.ASSAULT_2V2 {}
.ASSAULT_TEAM_2V2 {}
.ASSAULT_TEAM_3V3 {}
.PANZERKRIEG_2v2 {}
.PANZERKRIEG_TEAM_2v2 {}
.PANZERKRIEG_TEAM_3v3 {}
.COMPSTOMP {}
.ASSAULT {}
.PANZERKRIEG  {}
.STONEWALL {}

/* AUTOMATCH surrounds both teams if the match is automatch */
.AUTOMATCH {}

/* players 1-4 will always be on the player team */
.player1 {}
.player2 {}
.player3 {}
.player4 {}

/* players 5-8 will always be on the opponent team */
.player5 {}
.player6 {}
.player7 {}
.player8 {}

/* extra elements for each player */
.CPU {}
.HUMAN .name{ 
    color: gold;
    text-shadow: 2px 2px black;}
.REMOTE_HUMAN {}
.EMPTY_SLOT {}

/* player_main is also used to surround the main player 
this is determined by the player name being the same as the 
player name derived from the program runners steam stats 
is is usually the name as HUMAN but not in the case of downloaded replays*/
.player_main {}

/* The element hierarchy is as follows:
   - .container
     - .playerTeam
       - AUTOMATCH (if applicable)
        - Match type (e.g., .TEAM_2v2, .ASSAULT_2V2, etc.)
         - .player1, player_main (if applicable) ,player_type, faction, chosen display elements
         - .player2, player_type, faction, chosen display elements*
         - .player3, player_type, faction, chosen display elements*
         - .player4, player_type, faction, chosen display elements*
     - .opponentTeam
       - AUTOMATCH (if applicable)
        - Match type (e.g., .TEAM_2v2, .ASSAULT_2V2, etc.)
         - .player5, player_type, faction, chosen display elements
         - .player6, player_type, faction, chosen display elements*
         - .player7, player_type, faction, chosen display elements*
         - .player8, player_type, faction, chosen display elements*

         * optional players, not always displayed
   This allows for easy styling of each player and team. */
