

body {}

html {}

.container{}

.countryflagimg{
    position: relative;
    display: inline;
    top: 0pt;
}

.countryflagimg img{
    position: relative;
    display: inline;
    height:16pt;
}


.factionflagimg{
    position: relative;
    display: inline;
    height:16pt;
}

.factionflagimg img{
    position: relative;
    display: inline;
    height:16pt;
}

.rankimg {
    position: relative;
    display: inline;
    height:16pt;
}

.rankimg img{
    position: relative;
    display: inline;
    height:16pt;
}

.textVariables {
    position: relative;
    display: inline;
}

.name {
    position: relative;
    display: inline;
}

.faction {
    position: relative;
    display: inline;
}

.matchtype {
    position: relative;
    display: inline;
}

.country {
    position: relative;
    display: inline;
}

.totalwins {
    position: relative;
    display: inline;
}

.totallosses {
    position: relative;
    display: inline;
}

.totalwlratio {
    position: relative;
    display: inline;
}

.wins {
    position: relative;
    display: inline;
}

.losses {
    position: relative;
    display: inline;
}

.disputes {
    position: relative;
    display: inline;
}

.streak {
    position: relative;
    display: inline;
}

.drops {
    position: relative;
    display: inline;
}

.rank {
    position: relative;
    display: inline;
}

.level {
    position: relative;
    display: inline;
}

.wlratio {
    position: relative;
    display: inline;
}

.nonVariableText{
    position: relative;
    display: inline;
}

.steamprofile{
    position: relative;
    display: inline;
}

.cohstatslink{
    position: relative;
    display: inline;
}


.playerStats {

      background-color: rgba(0, 0, 0, 0.5);
      color: white;

  }

.US{
    background-color: rgba(0, 0, 0, 0.5);
}

.WM{
    background-color: rgba(255, 0, 0, 0.5);
}

.PE{
    background-color: rgba(17, 0, 255, 0.5);
}

.CW{
    background-color: rgba(0, 255, 0, 0.5);
}

.CUSTOM{}
.ONES{}
.TWOS{}
.THREES{}
.FOURS{} 
.TEAM_2v2{}
.TEAM_3V3 {}
.TEAM_4V4 {}
.ASSAULT_2V2 {}
.ASSAULT_TEAM_2V2 {}
.ASSAULT_TEAM_3V3 {}
.PANZERKRIEG_2v2 {}
.PANZERKRIEG_TEAM_2v2 {}
.PANZERKRIEG_TEAM_3v3 {}
.COMPSTOMP {}
.ASSAULT {}
.PANZERKRIEG  {}
.STONEWALL {} 